html,
body{
   text-align:center;

}
body{
   background-image: url("images/mountains(1).jpg");
   background-size: fill;
   background-repeat: no-repeat;
}


/*
=================================================
SEARCH
=================================================
*/
form{
   width:100%;
   max-width:600px;
   margin:0 auto;
}
input{
   width:100%;
   font-size:32px;
   margin:5px 0;
   border:solid 5px #1f1f1f;
   padding:10px;
   outline:none;
   display:inline-block;
}
.search-bar{
   width:80%;
   font-family: "Inconsolata", serif;
}
.submit-button{
   width:15%;
   background:#000;
   color:#FFF;
   font-family: "Inconsolata", serif;

}
h1{
   font-family: "Anton SC", sans-serif;
   font-size:65px;
   color:#ffffff;

}
/*
=================================================
BOOKMARKS
=================================================
*/
.bookmarks a{
   text-decoration: none;
}
.bookmarks{
   padding:30px;
   clear:both;
}
.bookmarks i{
   font-size:42px;
   margin:0 20px;
   color:#000000;
   transition:.15s;
   vertical-align: top;
}
.bookmarks i:hover{
   font-size:72px;
   position:relative;
}
